{% extends "regin_temp.html" %}
{% load static %}

{% block title %} Войти {% endblock %}

{% block content %}
<form method="post" action="">
    {% for field in login %}
        {{ field.label }}:
        <div class="row">
            <div class="col">
                {{ field }}
            </div>
            <div class="col-sm-4 text-danger" style="display: flex; align-items: center; font-size: 11pt;">
                 {% if field.name == "password" %}
                    <img id='show' src="{% static 'garbeco/images/show_password.png' %}" width="25" height="25" title="Показать пароль" onclick="show_hide_password()">
                {% endif %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <input type="submit" value="Log In" class="regin-button">
    <a href="#" onclick="return forgotPassword(event)">Забыли пароль?</a>
    {% csrf_token %}
</form>
{% endblock %}

{% block scripts %}
<script>
    function show_hide_password(){
        var Image = document.getElementById("show");
        var Input = document.getElementById("pass");

        var temp_arr = Image.src.split("/");
        var curr_image = temp_arr[temp_arr.length - 1];
        if (curr_image == "show_password.png"){
            Image.src = "{% static 'garbeco/images/hide_password.png' %}";
            Input.type = "text";
        } else {
            Image.src = "{% static 'garbeco/images/show_password.png' %}";
            Input.type = "password";
        }
    }
</script>
<script>
    function forgotPassword(event) {
        event.preventDefault();
        console.log("hi")
        $.ajax({
            type: 'get',
            url: '/ajax',
            data: {'get_id': 'get_forgot_password_form'},
            success: function(data) {
                console.log($('#content'));
                $('#content').html(data);
            },
            error: function (data) {
                console.error("could not load 'forgot password' form");
            }
        })
    }
</script>
{% endblock %}