{% extends 'main_temp.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
        <div id="map-card">
            <div class="card-body" id="map-card-body">
                <div id="preloaded">
                    {% if request.user.is_authenticated %}
                    <a href="#" class="btn" style="background-color: var(--my-white); margin: auto; display: block;"> Создать мероприятие </a>
                    {% else %}
                    <div class="card card-body">
                        <p id='map-not-logged-in-text'" style="text-align: center"> Войдите в аккаунт, чтобы <br> отметить метку / создать мероприятие </p>
                        <div style="display: inline-block; margin: auto;">
                            <a href=login class='btn' style="background-color: var(--my-white);"> Войти </a>
                            <a href=register class='btn' style="background-color: var(--my-white);"> Зарегистрироваться </a>
                        </div>
                    </div>
                    {% endif %}
                    <form onsubmit="filterGarbins(event)" id="filter">
                        <div class="item">
                            <span> Выбрать все: </span>
                            <input onclick="filterChooseAll(false, this)" id="choose-all-filter" class="filter-chkbox" type="checkbox">
                        </div>
                        {% for type in garbage_types %}
                        <div class="item">
                            <span> {{ type.name }}: </span>
                            <input onclick="filterChooseAll(true, this)" class="filter-chkbox" type="checkbox" value="{{ type.name }}">
                        </div>
                        {% endfor %}
                        <input type="submit" class="btn bg-secondary btn-sm" id="filter-button" value="Фильтр">
                    </form>
                </div>
            </div>
        </div>
        <div id="map" class="col"></div>
    <span id="user_id" hidden>{{ request.user.id }}</span>
{% endblock %}

{% block scripts %}
{% if map %}
{% load static %}
<script src="{% static 'garbeco/js/Jquery.js' %}"></script>

<script src="{% static 'garbeco/bootstrap/js/bootstrap.js' %}"></script>

<script src="{% static 'garbeco/js/custom_map.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPjTZiUcJMu8uJGnR4OerKCpEGDnMLrFM&callback=initMap"
        async defer></script>
{% endif %}
{% endblock %}